section.tool-wrapper{
    background:#073642;
    border-bottom:1px solid #000203;
    border-top:1px solid #000203;
    box-shadow:inset 0 0 0 4px #084150;
    color:#839496;
    display:table;
    margin:1.41575em -1.41575em 0
}
section.tool-wrapper div#graph-container{
    background:none;
    box-sizing:border-box;
    display:table-cell;
    padding:1.41575em;
    vertical-align:top;
    width:51.13636%
}
section.tool-wrapper div#graph-container .ui-widget-content{
    background:none;
    border:none;
    border-radius:0
}
section.tool-wrapper div#graph-container canvas{
    width:100%
}
section.tool-wrapper div#graph-container ul.ui-tabs-nav{
    background:#062e39;
    border-bottom:1px solid #03181d;
    border-radius:0;
    margin:-1.41575em -1.41575em 0;
    padding:0;
    position:relative;
    width:110%
}
section.tool-wrapper div#graph-container ul.ui-tabs-nav li{
    background:none;
    border:none;
    border-radius:0;
    color:#fff;
    margin-bottom:0
}
section.tool-wrapper div#graph-container ul.ui-tabs-nav li.ui-tabs-selected{
    background-color:#073642;
    border-left:1px solid #03181d;
    border-right:1px solid #03181d
}
section.tool-wrapper div#graph-container ul.ui-tabs-nav li.ui-tabs-selected:first-child{
    border-left:none
}
section.tool-wrapper div#graph-container ul.ui-tabs-nav li.ui-tabs-selected a{
    color:#eee8d5
}
section.tool-wrapper div#graph-container ul.ui-tabs-nav li a{
    border:none;
    color:#839496;
    font:bold 12px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing:1px
}
section.tool-wrapper div#graph-container ul.ui-tabs-nav li a:hover,section.tool-wrapper div#graph-container ul.ui-tabs-nav div.info-wrapper section.handouts ol li div.hitarea:hover+h4,div.info-wrapper section.handouts ol section.tool-wrapper div#graph-container ul.ui-tabs-nav li div.hitarea:hover+h4,section.tool-wrapper div#graph-container ul.ui-tabs-nav div.info-wrapper section.handouts ol li div.hitarea:focus+h4,div.info-wrapper section.handouts ol section.tool-wrapper div#graph-container ul.ui-tabs-nav li div.hitarea:focus+h4,section.tool-wrapper div#graph-container ul.ui-tabs-nav li a:focus{
    color:#eee8d5
}
section.tool-wrapper div#controlls-container{
    background:#062e39;
    border-right:1px solid #001317;
    box-shadow:1px 0 0 #004355,inset 0 0 0 4px #06323d;
    box-sizing:border-box;
    display:table-cell;
    padding:1.41575em;
    vertical-align:top;
    width:48.86364%
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper{
    border-bottom:1px solid #021014;
    box-shadow:0 1px 0 #083e4b;
    margin-bottom:1.41575em;
    padding:0 0 1.41575em
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton{
    border-color:#001317;
    border:1px solid #3d5962;
    border-radius:3px;
    box-shadow:inset 0 1px 0 0 #939da0;
    color:#fff;
    display:inline-block;
    font-size:inherit;
    font-weight:bold;
    background-color:#637c84;
    background-image:-webkit-linear-gradient(#637c84,#43626b);
    background-image:linear-gradient(#637c84,#43626b);
    padding:7px 18px;
    text-decoration:none;
    text-shadow:0 1px 0 #31505a;
    background-clip:padding-box;
    display:block;
    float:right;
    font:bold 14px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top:19px
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton:hover:not(:disabled){
    box-shadow:inset 0 1px 0 0 #778589;
    cursor:pointer;
    background-color:#5c6c71;
    background-image:-webkit-linear-gradient(#5c6c71,#3e5961);
    background-image:linear-gradient(#5c6c71,#3e5961)
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton:active:not(:disabled),section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton:focus:not(:disabled){
    border:1px solid #3d5962;
    box-shadow:inset 0 0 8px 4px #395057,inset 0 0 8px 4px #395057
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton:disabled{
    opacity:0.5;
    cursor:not-allowed
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton:active{
    box-shadow:none
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton[value="Stop"]{
    border:1px solid #030d15;
    border-radius:3px;
    box-shadow:inset 0 1px 0 0 #215f8a;
    color:#fff;
    display:inline-block;
    font-size:inherit;
    font-weight:bold;
    background-color:#0f3550;
    background-image:-webkit-linear-gradient(#0f3550,#041623);
    background-image:linear-gradient(#0f3550,#041623);
    padding:7px 18px;
    text-decoration:none;
    text-shadow:0 1px 0 #000203;
    background-clip:padding-box;
    font:bold 14px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton[value="Stop"]:hover:not(:disabled){
    box-shadow:inset 0 1px 0 0 #174362;
    cursor:pointer;
    background-color:#0c2739;
    background-image:-webkit-linear-gradient(#0c2739,#030d15);
    background-image:linear-gradient(#0c2739,#030d15)
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton[value="Stop"]:active:not(:disabled),section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton[value="Stop"]:focus:not(:disabled){
    border:1px solid #030d15;
    box-shadow:inset 0 0 8px 4px #010507,inset 0 0 8px 4px #010507
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton[value="Stop"]:disabled{
    opacity:0.5;
    cursor:not-allowed
}
section.tool-wrapper div#controlls-container div.graph-controls div.music-wrapper input#playButton[value="Stop"]:active{
    box-shadow:none
}
section.tool-wrapper div#controlls-container div.graph-controls div.inputs-wrapper{
    border-bottom:1px solid #021014;
    box-shadow:0 1px 0 #083e4b;
    margin-bottom:1.41575em;
    margin-bottom:1.41575em;
    padding:0 0 1.41575em
}
section.tool-wrapper div#controlls-container div.graph-controls div.inputs-wrapper:after{
    content:"";
    display:table;
    clear:both
}
section.tool-wrapper div#controlls-container div.graph-controls p{
    font-weight:bold;
    display:inline-block;
    margin:0;
    text-shadow:0 -1px 0 #021014;
    -webkit-font-smoothing:antialiased;
    color:#839496
}
section.tool-wrapper div#controlls-container div.graph-controls ul{
    display:inline-block;
    margin-bottom:0
}
section.tool-wrapper div#controlls-container div.graph-controls ul li{
    display:inline-block;
    margin-bottom:0
}
section.tool-wrapper div#controlls-container div.graph-controls ul li input{
    margin-right:5px
}
section.tool-wrapper div#controlls-container div.graph-controls div#graph-listen{
    display:block;
    float:left;
    margin-bottom:0;
    margin-right:20px;
    margin-top:8px;
    text-align:right
}
section.tool-wrapper div#controlls-container label{
    border-radius:2px;
    color:#fff;
    font-weight:bold;
    padding:3px;
    -webkit-font-smoothing:antialiased
}
section.tool-wrapper div#controlls-container label[for="vinCheckbox"],section.tool-wrapper div#controlls-container label[for="vinRadioButton"]{
    color:#409fbf
}
section.tool-wrapper div#controlls-container label[for="voutCheckbox"],section.tool-wrapper div#controlls-container label[for="voutRadioButton"]{
    color:#e1a600
}
section.tool-wrapper div#controlls-container label[for="vrCheckbox"],section.tool-wrapper div#controlls-container label[for="vrRadioButton"]{
    color:#49c944
}
section.tool-wrapper div#controlls-container label[for="vcCheckbox"],section.tool-wrapper div#controlls-container label[for="vcRadioButton"]{
    color:#e1a600
}
section.tool-wrapper div#controlls-container label[for="vlCheckbox"],section.tool-wrapper div#controlls-container label[for="vlRadioButton"]{
    color:#a26784
}
section.tool-wrapper div#controlls-container div.schematic-sliders div.top-sliders{
    border-bottom:1px solid #021014;
    box-shadow:0 1px 0 #083e4b;
    margin-bottom:1.41575em;
    padding:0 0 1.41575em
}
section.tool-wrapper div#controlls-container div.schematic-sliders div.top-sliders select#musicTypeSelect{
    font:16px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    display:inline-block;
    margin-bottom:0
}
section.tool-wrapper div#controlls-container div.schematic-sliders div.top-sliders p{
    font-weight:bold;
    display:inline-block;
    margin:0 0.70788em 1.41575em 0;
    color:#839496;
    text-shadow:0 -1px 0 #021014;
    -webkit-font-smoothing:antialiased
}
section.tool-wrapper div#controlls-container div.schematic-sliders div.slider-label{
    font-weight:bold;
    margin-bottom:0.70788em;
    text-shadow:0 -1px 0 #021014;
    -webkit-font-smoothing:antialiased
}
section.tool-wrapper div#controlls-container div.schematic-sliders div.slider{
    margin-bottom:1.41575em
}
section.tool-wrapper div#controlls-container div.schematic-sliders div.slider.ui-slider-horizontal{
    background:#00232c;
    border:1px solid #000b0d;
    box-shadow:none;
    height:0.4em
}
section.tool-wrapper div#controlls-container div.schematic-sliders div.slider .ui-slider-handle{
    background:#637c84 url("https://prod-edxapp.edx-cdn.org/static/images/amplifier-slider-handle.50255f55d36c.png") center no-repeat;
    border:1px solid #000b0d;
    box-shadow:inset 0 1px 0 #8ba1a8;
    margin-top:-0.3em
}
section.tool-wrapper div#controlls-container div.schematic-sliders div.slider .ui-slider-handle:hover,section.tool-wrapper div#controlls-container div.schematic-sliders div.slider .ui-slider-handle:active,section.tool-wrapper div#controlls-container div.schematic-sliders div.slider .ui-slider-handle:focus{
    background-color:#6e8992
}
